@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* fixed Navigator 설정 */
.navbar {
	background-color: white;
	position: fixed;
	padding-left: 20px;
	top: 0;
	width: 100%;
	box-shadow: 0 0px 5px 0 rgba(0,0,0,0.2);
}

.navbar a:not(#profile-img) {
	float: left;
	color: #646464;
	padding: 12px;
	text-decoration: none;
	font-size: 14px;
}

.navbar a:hover:not(#profile-img) {
	border-bottom: 3px solid #ddd;
	padding-bottom: 9px;
	color: black;
	line-height: 1em;
    display: inline-block;
}

.main {
	padding: 16px;
	margin-top: 30px;
}

.navbar input[type=text] {
	background-color: transparent;
	border: 0;
	width: 200px;
	font-size: 14px;
	margin: 7px 10px;
}

.navbar .search {
	border: 1px solid #e1e5ea;
	border-radius: 20px;
	background-color: #f2f6f9;
	float: right;
	margin-right: 40px;
	margin-top: 7px;
	padding-right: 10px;
}

.btn {
	background-color: transparent;
	vertical-align: middle;
	margin: 0 3px;
    border: none;
    cursor: pointer;
    padding: 0;
}

.navbar img {
	margin: 7px 10px;
	border-radius: 25px;
	width: 35px;
	height: 35px;
}

/* 생각 카드 */
.card {
	padding: 10px;
    transition: 0.3s;
    width: 500px;
    background-color: white;
    margin-bottom: 1px;
}

.card:hover {
    background-color: #f7f8f9;
}

.card a:hover {
    text-decoration: underline;
}

.container {
    padding: 2px 16px;
}

.heart-box, .more-box {
	float: right;
	display: inline-block;
}
/* 환영 문구 */
.welcome-message {
	margin-top: 100px;
	margin-bottom: 50px;
	text-align: center;
}

.welcome-message .title{
	font-size: 20px;
}

.main-container {
	margin: 50px;
}

.center {
	text-align: center;
	display: block;
}

.middle {
	vertical-align: middle;
}

.font-gray {
	color: #878787;
}

.list-container {
	display: flex;
}

#list-result {
	margin-left: auto;
	margin-right: auto;
}

#title-input {
	background-color: transparent;
	border: 0;
	width: 100%;
	font-size: 14px;
	margin: 7px 10px;
}

.title-box {
	border: 1px solid #e1e5ea;
	border-radius: 25px;
	background-color: white;
	padding: 20px;
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-family: "Nanum Gothic", sans-serif;
	vertical-align: baseline;
	background-color: #f2f6f9;
}

p, li{
	font-size: 15px;
}

ol, ul {
	list-style: none;
	padding: 0;
	margin: 0 0 40px 0;
}

a:link {
	color : inherit;
    text-decoration: none;
}

a:visited {
	color: inherit;
    text-decoration: none;
}