.post-container {
	margin: 100px 50px 0 50px;
	display: flex;
}

#search-result {
	margin-right: auto;
	margin-left: auto;
}

.item-main {
	flex: 1 0 auto;
	width:100%;
	word-wrap:break-word;
}

.timeline {
	padding: 0 20px 0 20px;
}

.left-sidebar {
	margin-left: auto;
}

.right-sidebar {
	margin-right: auto;
}

.right-sidebar a:hover {
    text-decoration: underline;
}

.sidebar-box {
	padding: 15px 20px;
	background-color: white;
	width: 250px;
}

.infinite-box {
	overflow: auto;
	max-height: 300px;
}

.new {
	background-color: #eaf0f3;
	font-size: 13px;
}

textarea {
	border: 3px solid #f2f6f9;
	border-radius: 10px;
	padding: 20px;
	width: 420px;
	margin: 10px 0;
  	height : 60px;
	font-size: 14px;
  	resize: none;
}

.text-box {
	margin: 0 15px;
}